.home {
  background-color: black;
  color: white;
  height: 100vh;
}
.nav-link {
  color: white !important;
  padding-right: 40px !important;
}

.nav-header {
  color: white !important;
}

.home-body {
  margin-top: 20vh !important;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
}

.body-container {
  height: 80vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: blanchedalmond;
}
.card {
  background-color: black !important;
}

.home-text{
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: blanchedalmond;
}

.margin-50{
    margin-top: 50px;
}

.m-auto{
  margin: 0px auto;
}
.margin-80{
  margin-top: 80px;
}

.home-image{
  z-index: 1;
  position: absolute;
  left: 250px;
  top:100px;
  opacity: 0.5;
}